@import url("master.css");

/* ===============================

THE CODE ON THIS STYLESHEET APPLIES TO ONLY THE FORM PROCESSOR PAGE


========= LAYOUT DETAILS ========== */

main {
  padding: 30px;
  justify-content: center;
}

.title {
  margin: auto;
}

table {
  max-width: 960px;
  margin: auto;
}

th, td {
  text-align: left;
  padding: 10px;
}

th {
  max-width: 100px;
  overflow: auto;
}

td {
  min-width: 500px;
  overflow: auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
}

.wrapper {
  padding: 30px;
  width: 960px;
  height: auto;
}

.button-wrapper {
  margin: auto;
}

/*

========= AESTHETICS SECTION ===========
because layout itself is such a pain, i separated it from what actually makes the website pretty.

*/

.button {
  background-color: #9DD9D2;
  border: 2px solid #9DD9D2;
  border-radius: 5px;
  font-weight: bold;
  margin: 0px 30px;
}


table {
  border-collapse: separate;
  border-spacing: 0px;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: #FFF;
}

th, td {
  border: 1px solid #eee;
}

/* border radius but complicated */

table tr:first-child th {
    border-top-left-radius: 5px;
}

table tr:first-child td {
    border-top-right-radius: 5px;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
